mixin sideBarBlock(title, excerpt, color, topicID)
  .sideBarBlock(topicid=topicID)
    .sideBarBlockColor(style={background: color})
      p.sideBarBlockTitle= title
    p.sideBarBlockContent= excerpt