body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  background-color: #fafafa;
}

a {
  color: #00B7FF;
}

header {
  width: 100%;
  height: 50px;
  position: fixed;		/* Scroll stickiness */
  top: 0;
  box-shadow: 0px 3px 15px #b0b0b0;
  padding: 10px 30px 15px 30px;
  background-color: white;
}

header span, header p {
  color: #8379FE;
  font-size: 14pt;
}

header span {
  position: relative;
  top: -15px;
}

header p {
  font-style: normal;
  font-weight: thick;
}

header img {
  max-height:42px;
  max-width: 200px;
  margin-right: 10px;
  width: auto;
  height: auto;
  padding-top: 5px
}

.contentWrap {
  position: fixed;
  top: 100px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  overflow-y: scroll;
  box-shadow: 0px 0px 15px #b0b0b0;
  background-color: white;
}

#content {
  position: absolute;
  right: 275px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  overflow-y: scroll;
  padding: 20px 35px 20px 35px;
}

.articleWrapperSingle {
  width: 100%;
  height: 100%;
}

.articleWrapperDual {
  width: 48%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  overflow-y: scroll;
  padding-top: 10px;
  padding-bottom: 20px;
}

.articleWrapperDual.left {
  left: 0px;
  padding-left: 2%;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #e7e7e7;
}

.articleWrapperDual.right {
  right: 0px;
  padding-right: 2%;
}

.articleWrapperDual.right .articleHeader,
.articleWrapperDual.right .articleBody {
  margin-left: 15px;
}

.articleWrapperDual.left .articleHeader,
.articleWrapperDual.left .articleBody {
  margin-right: 15px;
}

.articleBody {
  padding-bottom: 30px;
}

.articleBody p, .sideBarBlock p {
  color: #303030;
  font-size: 12pt;
}

#rightSidebar {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  overflow-y: scroll;
  width: 275px;
  box-shadow: -5px 0px 15px #f0f0f0;
}

p.sideBarBlockContent {
  font-size: 10pt;
}

.sideBarBlock {
  right: 0px;
  top: 0px;
  left: 0px;
  height: 200px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-top-style: 0px;
  border-color: #f7f7f7;
}

.sideBarBlock:hover {
  background-color: #fAfAfA;
}

.sideBarBlock:active {
  background-color: #f0f0f0;
}

.sideBarBlockColor {
  height: 100px;
}

.sideBarBlockTitle {
  margin: 10px 20px 10px 15px;
  position: relative;
  bottom: -40px;
  width: 90%;
}

.articleHeader {
	height: 200px;
	margin-bottom: 30px;
}

h1.articleTitle {
  margin: 15px;
  position: relative;
  top: 90px;
  width: 90%;
  font-weight: 500;
}

#configScreen {
  position: fixed;
  top: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0.95);
  padding-top: 40px;
}

#configForm {
  margin: 0 auto;
  width: 1100px;
  padding-bottom: 100px;
}

h1.formTitle {
  color: #8379FE;
}

.formText {
  text-align: center;
}

p,label,span.formText {
  color: #b0b0b0;
  font-size: 14pt;
}

em {
  color: #8379FE;
  font-size: 14pt;
  font-style: normal;
  font-weight: bold;
}

.formInputGroup {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
}

.radioSpan {
  padding: 8px;
  padding-left: 25px;
  padding-right: 25px;
}

input[type="radio"]{
  display: none;
}

.radioSpan label {
  position: relative;
}

.radioSpan span::before,
.radioSpan span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.radioSpan span.radioLabelSpan:hover {
  cursor: pointer;
}
.radioSpan span.radioLabelSpan::before {
  left: 5px;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.0);
  border-width: 2px;
  border-style: solid;
  border-radius: 50px;
  border-color: #8379FE;
}
.radioSpan span.radioLabelSpan::after {
  left: 10px;
  width: 14px;
  height: 14px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.0);
  transition: background-color .20s;
}

input[type="radio"]:checked + label span.radioLabelSpan::after {
  background: linear-gradient(to right, #7970ED, #AAA0FE);
}

.radioRow {
  padding: 10px;
}
#radioGroup1 {
	/*padding-right: 45px;*/
}
#radioGroup2 {
	padding-right: 15px;
}

input[type="submit"] {
  width: 50%;
  height: 60px;
  color: white;
  border-radius: 4px;
  font-size: 16pt;
  background: linear-gradient(#AAA0FE, #7970ED);
}